<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; UzbekCamp 2020</span>
        <p class="text-muted">This site is developed with Udemy course by Mirzayev Orzu </p>
        <span class="text-muted"><a href="/links">sources</a></span>
    </div>
</footer>