<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; UzbekCamp 2020</span>
        <p class="text-muted">This site is developed with Udemy course by Mirzayev Orzu </p>
        <span class="text-muted"><a href="https://www.freepik.com/photos/forest">Forest photo created by welcomia - www.freepik.com</a></span>
    </div>
</footer>