<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Pixabay.com</h4>
            <p>I used pictures from Pixabay.com so here some links to them</p>
            <li>Image by <a href="https://pixabay.com/users/bhossfeld-612651/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=548022">bhossfeld</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=548022">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/photos/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1149402">Free-Photos</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1149402">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/mystraysoul-10217405/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5302236">Полина Андреева</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=5302236">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/terjeaeriksen-2847771/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1490599">Terje Ansgar Eriksen</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1490599">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/lum3n-1066559/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=896196">LUM3N</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=896196">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/kienvirak-11003985/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4946313">kien virak</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4946313">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/kienvirak-11003985/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4946313">kien virak</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=4946313">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/yongxinz-3906868/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2411069">yongxinz</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2411069">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/loggawiggler-15/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=196944">LoggaWiggler</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=196944">Pixabay</a></li>
            <li>Image by <a href="https://pixabay.com/users/loggawiggler-15/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=198578">LoggaWiggler</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=198578">Pixabay</a></li>
            <h4 class="alert-heading">One from Freepik.com</h4>
            <li><a href="https://www.freepik.com/photos/forest">Forest photo created by welcomia - www.freepik.com</a></li>
        </div>
    </div>
</div>