<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="invalid-feedback">
                    Please put a title
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="invalid-feedback">
                    Please campground location should be filled
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Campground price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="text" id="price" placeholder="0.00" name="campground[price]"
                        aria-describedby="price-label" required>
                    <div class="invalid-feedback">
                        Please choose a valid price
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="invalid-feedback">
                    Please describe a campground a little bit
                </div>
            </div>
            <div class="form-file mb-3 custom-file">
                <input type="file" class="form-file-input" id="image" name="image" multiple required>
                <label class="form-file-label" for="image">
                    <span class="form-file-text custom-file-label">Choose image(s)...</span>
                    <span class="form-file-button">Browse</span>
                </label>
                <div class="invalid-feedback">
                    Please upload at least one image
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success btn-block">Add Campground</button>
            </div>
        </form>
    </div>
</div>