<% layout('layouts/boilerplate') %>
<!-- container d-flex  -->
<div class="justify-content-center align-items-center mt mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card">
                    <img src="https://image.freepik.com/free-photo/camping-forest_1426-950.jpg" class="card-img-top" alt="Forest photo created by welcomia - www.freepik.com">
                    <div class="card-body">
                        <h5 class="card-title">Login</h5>
                        <form action="/login" class="validated-form" method="POST" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="password">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required autofocus>
                                <div class="invalid-feedback">
                                    Username cannot be blank
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="invalid-feedback">
                                    Password cannot be blank
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Log in</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
 